#--------------------------------------------------------------------------
# author:    github.com/aksyuk
# repo:      project_scheme
# file:      .gitignore
# created:   09 Jan 2018
# updated:   04 Aug 2025
#--------------------------------------------------------------------------
# en: files to ignore are listed here
# ru: здесь перечислены файлы, которые нужно игнорировать при синхронизации
#--------------------------------------------------------------------------
**/Lections/**/Lection_*.md

#==========================================================================
# en: compiled source
# ru: скомпилированные исходники
#..........................................................................
*.com
*.class
*.dll
*.exe
*.o
*.so


#==========================================================================
# en: packages
# ru: архивы
#..........................................................................
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip


#==========================================================================
# en: user data
# ru: пользовательские данные
#..........................................................................
.RData
.RDataTmp
.Ruserdata


#==========================================================================
# en: logs and databases
# ru: логи и базы данных
#..........................................................................
*.log
*.sql
*.sqlite
*.Rhistory
.Rhistory
.Rapp.history


#==========================================================================
# en: OS generated files
# ru: файлы, сгенерированные ОС
#..........................................................................
*.DS_Store
*.DS_Store?
*._*
*.Spotlight-V100
*.Trashes
ehthumbs.db
Thumbs.db


#==========================================================================
# en: access and system reports
# ru: файлы доступа и отчёты системы
#..........................................................................
*-Ex.R
.Rproj.user/
/*.tar.gz
/*.Rcheck/
.httr-oauth


#==========================================================================
# en: generated reports
# ru: сгенерированные отчёты
#..........................................................................
*.html
*.htm
*.pdf
*.doc
*.docx
*_cache/
/cache/
vignettes/*.html
vignettes/*.pdf


#==========================================================================
# en: raw data directory
# ru: директория с первоначальными исходными данными
#..........................................................................
*/data/raw/**


#==========================================================================
# en: plots, pictures and cache  
# ru: графики, картинки, кэш 
#..........................................................................
# **/plots/**
**/pics/**
**/*-figure/**
**/*-cache/**
**/*_files/**
*.utf8.md
*.knit.md
.Renviron
po/*~
rsconnect/


#==========================================================================
# en: specific files
# ru: конкретные файлы 
#..........................................................................
report_to_word.md


#==========================================================================
# en: exceptions
# ru: исключения
#..........................................................................
# !save_this_report.pdf
